*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #B7B5B6;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    border-radius: 30px;
    background-color: #45515D;
}
.profile{
    display: flex;
    margin-top: -85px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
}
.fa-circle-user{
    font-size: 170px;
}
.content h1{
    padding-top: 35px;
    color: #c73f7f;
}

.content a{
    padding-top: 15px;
    color: #949DA1;
    text-decoration: none;
}
.content h2{
    padding-top: 15px;
    color: #BCC1CB;
}
.network {
    display: flex;
    height: 69px;
    column-gap: 15px;
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.fa-brands{
    font-size: 50px;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FCACDA;
    margin-top: 67px;
    width: 100%;
    height: 80px;
    border-radius: 0px 0px  30px 30px;
    background-color: #c73f7f;
}